<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>

<body>
    <h3>Create a new Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <input value="<%= listing.title %>" name="listing[title]" placeholder="Enter title" type="text">
        <br><br>
        <textarea name="listing[description]" placeholder="Enter description"
            type="text"><%= listing.description %></textarea>
        <br><br>
        <input value="<%= listing.image %>" name="listing[image]" placeholder="Enter image URL/Link" type="text">
        <br><br>
        <input value="<%= listing.price %>" name="listing[price]" placeholder="Enter Price" type="number">
        <br><br>
        <input value="<%= listing.country %>" name="listing[country]" placeholder="Enter Country" type="text">
        <br><br>
        <input value="<%= listing.location %>" name="listing[location]" placeholder="Enter location" type="text">
        <br><br>
        <button>Add</button>
    </form>
</body>

</html>