<% layout("/layouts/boilerplate.ejs") %>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Edit Listing</h3>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label><br>
                    <input value="<%= listing.title %>" name="listing[title]" placeholder="Enter title" type="text"
                        class="form-control">
                </div>

                <div class="mb-3">

                    <label for="description" class="form-label">Description</label><br>
                    <textarea name="listing[description]" placeholder="Enter description" type="text"
                        class="form-control"><%= listing.description %></textarea>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image</label><br>
                    <input value="<%= listing.image.url %>" name="listing[image][url]"
                        placeholder="Enter image URL/Link" type="text" class="form-control">
                </div>
                <div class="row">


                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">price</label><br>
                        <input value="<%= listing.price %>" name="listing[price]" placeholder="Enter Price"
                            type="number" class="form-control">
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label><br>
                        <input value="<%= listing.country %>" name="listing[country]" placeholder="Enter Country"
                            type="text" class="form-control">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label><br>
                    <input value="<%= listing.location %>" name="listing[location]" placeholder="Enter location"
                        type="text" class="form-control">
                </div>

                <button class="btn btn-dark edit-btn mt-3">Add</button>
            </form>
            <br><br>

        </div>
    </div>